<img style="max-width: 100%" src="public/profile_image.png" alt="" />

<br />
<br />

Hi, my name is Marius. I am a dreamer / coder / physicist / nature lover.
I create philosophical problems and I can solve the technical ones.


<br />
<br />

A few things I like doing:
<ul style="padding-left: 40px">
    <li>Computering</li>
    <li>Stargazing</li>
    <li>{Back, Bike, Kayak}packing</li>
    <li>Making sounds</li>
</ul>

<br />
<br />

Contact me on
<a target="_blank" rel="noopener noreferrer" href="https://riot.im/app/#/user/@marius_k:matrix.org">matrix</a>
or
<a target="_blank" rel="me noopener noreferrer" href="https://mastodon.social/@marius_k">mastodon</a>.