The short answer is I don't know. But I have some beliefs about it
and I am always trying to stick them together in a reasonable way.

<br />
<br />

<b>How do I use the word "exists"?</b>
<br />
Any existing object has a domain/context/frame which enables its existence.
This domain is the reason why objects can exist. Stating that some
object exists can only make sense when the domain is defined.
In many cases, the domain is implicit and causes some confusion.

<br />
<br />

<b>The boundary between nothing and everything.</b>
<br />
Using these terms we can say that <b>everything</b> exists outside of <b>nothing</b>.
Or that <b>nothing</b> exists outside of <b>everything</b>.
To make it more intuitive we can imagine a 3D sphere with a small circle on its surface.
This circle divides the sphere into two areas named <i>nothing</i> and <i>everything</i>.
Now we shrink the <i>nothing</i> area until there is <b>nothing</b> inside the circle.
This circle ilustrates how both <b>everything</b> and <b>nothing</b> coexist
together defined and framed by each other.


<br />
<br />

<b>What actualy is this everything?</b>
<br />
It's the big bowl of boiling white noise and random stuff. Strange things
can emerge out of it. Like some logical patterns, causation, space
and time. And all of our physical universe happens to be some
part of it.


<br />
<br />
You can read more about the topic on this <a
    href="https://en.wikipedia.org/wiki/Problem_of_why_there_is_anything_at_all">wiki page</a>.