<i>
    "In order for him to believe sincerely in eternity, others had to share in this belief,
    because a belief that no one else shares is called schizophrenia."
</i>
<br />
― Victor Pelevin, Homo Zapiens
<br />
<br />