Welcome, you found my personal over-engineered mini website.
Source code available at <a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/mrsk/mrsklt">gitlab</a>.

<br />
<br />

Opinions are my own.

<br />
<br />

Enjoy:)
